<div class="p-4 flex items-center bg-white/40">
    <%= link_to root_path do %><div class="text-lg md:text-2xl font-bold">Graham Family</div><% end %>
    <div class="flex-auto"></div>
    <ul class="flex items-center text-sm">
        <li class="ml-3 uppercase tracking-widest">
            <%= link_to ella_index_path, class: "text-pink-500 hover:text-pink-300" do %>Ella<% end %>
        </li>
        <li class="ml-3 uppercase tracking-widest">
            <%= link_to madisyn_index_path, class: "text-pink-500 hover:text-pink-300" do %>Madisyn<% end %>
        </li>
        <li class="ml-3">
            <%= link_to predictions_path, class: "button--primary mx-auto text-xs font-normal", data: { turbo_frame: "modal"} do %>Guess the Date<% end %>   
        </li>
    </ul>
</div>